* {
  margin: 0;
  padding: 0;

}

:root {
  --pink: #faeaeb;
  --orange: #fbf0ee;
  --lightblue: #e9f4f6;
  --purple: #f2e7f5;
  --white: #ffffff;
}

body {
  font-family: 'open sans', sans-serif;
  font-size: normal;
  font-weight: 400;
}

.main-container {
  /* width: 1180px; */
  margin: 0px auto;

}

.header {
  background-color: #7030CC;
  padding: 40px 100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.listitem a {
  color: #ffffff;
  text-decoration: none;
  margin: 0px 20px;
}

.listitem:first-child a {
  color: #14D9FC;
  cursor: auto;
}

button {
  color: var(--white);
  font-size: 14px;
  background-color: #14D9FC;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
}

.menu-icon {
  display: none;
}

.fas {
  font-size: 2rem;
  color: #ffffff;
}

/* ================ */
.codex {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  color: #ffffff;
}

.left {
  margin-top: 50px;
}

.left h1 {
  font-size: 3.5rem;
  font-weight: 600;
  font-family: open sans;

}

.left p {
  margin-top: 30px;
}


.right img {
  width: 650px;
  position: relative;
  left: 80px;
}


/* ====mid part========*/
.saas-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-items: flex-start;
  margin-top: 100px;
}

.saas-left {
  width: 40%;
}

.heading {
  font-size: 2rem;
  font-weight: 900;
}


.saas-feature {
  margin: 30px 0 0 40px;
  position: relative;
}

.saas-right h3 {
  color: #000;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 5px;
}

.saas-right p {
  font-size: 15px;
}


.simg1,
.simg2,
.simg3 {
  position: absolute;
  top: 5px;
  left: -28px;
}

/* ====== */
.f-title {
  text-align: center;
  color: #000;
  font-size: 2rem;
  font-weight: 900;
}

.footer {
  margin: 40px;
}

.f-container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.f-container .box {
  background-color: #fff;
  box-shadow: 3px 5px 8px 3px rgba(153, 153, 153, 0.75);
  text-align: center;
  padding-top: 30px;
  position: relative;
  border-radius: 16px;
  width: 18%;
}

.box-selected {
  background-color: #7030CC;
  border-radius: 16px;
  color: #ffffff;
}

.box-content:hover {
  background-color: #7030CC;
  color: #ffffff;
}

.box-content {
  padding-bottom: 10px;
  border-radius: 16px;
}

.box {
  background-color: #fff !important;
}

.b-image {
  text-align: center;
  border-radius: 100%;
  margin: 15px auto;
  width: 30%;
  padding: 27px;
}

.box h4 {
  padding: 10px;
}

.box p {
  font-size: 14px;
}

.bg-pink {
  background-color: var(--pink);
}

.bg-orange {
  background-color: var(--orange);
}

.bg-lightblue {
  background-color: var(--lightblue);
}

.bg-purple {
  background-color: var(--purple);
}

@media (max-width:480px) {
  .main-container {
    max-width: 480px;
  }

  .hidden {
    display: none;
  }

  .codex {
    flex-direction: column;
  }

  .left {
    width: 90%;
    order: 5;
  }

  .header {
    padding: 30px;
  }

  .left h1 {
    font-size: 2rem;
  }

  .right img {
    width: 100%;
    position: static;
  }

  .saas-main {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .saas-main h2 {
    font-size: 1.5rem;
  }

  .saas-right {
    padding: 30px;
  }

  .f-container {
    align-items: center;
    flex-direction: column;
    width: 100%;

  }

  .f-title {
    font-size: 1.5rem;
  }

  .f-container .box {
    width: 80%;
  }

  .menu-icon {
    display: inline;
  }
}